<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.ux_share.mapper.UserMsgMapper">
    <resultMap id="resultMap" type="userMsgDto">
        <result property="userId" column="user_id"></result>
        <result property="userNickname" column="user_nickname"></result>
        <result property="userUname" column="user_uname"></result>
        <result property="userPwd" column="user_pwd"></result>
        <result property="userRole" column="user_role"></result>
        <result property="userState" column="user_state"></result>
        <result property="userCreateDate" column="user_createDate"></result>
        <result property="userIcon" column="user_icon"></result>
        <result property="userPhone" column="user_phone"></result>
        <result property="userLevel" column="user_level"></result>
        <result property="userPoint" column="user_point"></result>
        <result property="userRootId" column="user_root_id"></result>
        <result property="userEx" column="user_ex"></result>
    </resultMap>
    <select id="getUserMsgInfo" resultMap="resultMap" >
        select user_id,
        user_nickname,
        user_uname,
        user_pwd,
        user_role,
        user_state,
        user_createDate,
        user_icon,
        user_phone,
        user_point,
        user_level,
        user_root_id,
        user_ex
        from user_msg
        <where>
        <if test="userUname!=null and userUname !='' and userPwd!=null and userPwd!='' ">
             user_uname = #{userUname} and user_pwd = #{userPwd}
        </if>
        <if test="userId !=null and userId!='' and userId!='0'.toString() ">
            and  user_id = #{userId}
        </if>
        </where>
    </select>
    <select id="getUserCollect" resultType="java.lang.Integer">
        SELECT count(1) FROM user_collect WHERE user_id=#{userId}
    </select>
</mapper>